

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#profileImage {
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #004d3c;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  line-height: 10rem;
  margin: 2rem 0;
}
/* oval avator for first name and last name display  */

.oval-avatar {
  width: 60px;
  height: 30px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

/* task card input section */
input-section {
  margin-bottom: 10px;
  width: 100%;
}
.input-field {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px 0 10px 0;
  border: 1px solid;
  width: 85%;
}
.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh; /* Adjust height as needed */
}
@tailwind base;
@tailwind components;
@tailwind utilities;