/* FullCalendar Header */

.fc-header-toolbar,.fc-footer-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b2ec0;
}
.fc-toolbar-ltr{
  background-color: red;
}

.fc-more-link{
  font-weight: 700;
  color: #3B82F6 !important;
  font-size: 16px !important;
}

.fc-toolbar-chunk .btn-group {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}
.fc-toolbar-chunk :last-child{
  border: none;
}
.fc-view-harness-active{
  background-color: white;
}

.fc-prev-button, .fc-next-button{
  background-color: white !important;
  color: black !important;
  border: none;
  font-size: 20px;
  padding-left: 10px;

}

.fc-prev-button:hover,
.fc-next-button:hover{
  background-color: #DBEAFE !important;
  color: #3B82F6 !important;
}

.fc-dayGridMonth-button , .fc-timeGridWeek-button , .fc-timeGridDay-button{
  height:30px !important;
  font-size: 14px !important;
  background: #DBEAFE !important;
	color: #3B82F6 !important;
  font-weight: bold;
  width: 60px;
  border:none !important;
}

.fc-dayGridMonth-button:hover, 
.fc-timeGridWeek-button:hover, 
.fc-timeGridDay-button:hover {
  background: #123f7a !important;
  color: #3B82F6 !important;
}

/* Active state using the "active" class */
.fc-dayGridMonth-button.active, 
.fc-timeGridWeek-button.active, 
.fc-timeGridDay-button.active {
  background: #3B82F6 !important;
  color: #ffffff !important; /* Optionally change text color for active state */
}

.fc-toolbar-title{
  color: black;
  background: #fff;
  font-weight: 800;
  font-size:20px;
}
.fc-col-header {
  background:#e7e6e6;
	color: #2a2144;
  padding-top: 10px;
  padding-bottom: 10px;
	padding: 10px;
  font-size: large;
}
.fc-col-header-cell-cushion{
  font-size: 20px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.fc-daygrid-day-number{
  font-size: 24px;
  font-weight: 700;
}
.fc-toolbar {
  color: white;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
}
.btn-group{
	display: flex!important;
	border-radius: 4px;
  gap: 3px;
}
/* .btn{
	border:hidden!important;
	font-weight: bold;
	padding-top: 6px!important;
	padding-bottom: 6px!important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-radius: 3px !important;
  height: 48px;
  color: #3B82F6;
  background-color: #c8cef8 !important;
} */
.fc-today-button{
	color: #3B82F6;
  background-color: #c8cef8 !important;
  font-weight: bold;
  padding-top: 8px!important;
  padding-bottom: 8px!important;
  border-radius: 3px;
  margin-left: 2px !important;
}
fc-h-event .fc-event-main {
  color: var(--fc-event-text-color);
}
.fc-event,
.fc-background-event {
  z-index: 2;
  background-color: #08516b;
  color: white;
  padding: 0px !important;
  border: none !important;
}

.fc-event-label {
  display: none !important;
}
.fc .fc-daygrid-day {
  border: 1px solid #e0e0e0;
}

.fc .fc-timegrid-slot {
  border: 1px solid #e0e0e0;
}


/* FullCalendar Events */
/* .fc .fc-event {
  background-color: #17405d; /* Adjust color as needed */
  /* color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
}


/* FullCalendar Today Highlight */
.fc .fc-daygrid-day.fc-day-today {
    background-color: #e7e8f0 !important;

}



/* FullCalendar Selected Date */
.fc .fc-highlight {
  background-color: #f0f0f0;
}

/* FullCalendar All-Day Cell */
.fc .fc-daygrid-allday {
  display: none;
}

/* Custom Event Tooltip */
.fc .popoverStyle .popover {
  max-width: 200px;
  background-color: #2a2144;
  color: white;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}
.fc-popover-title{
  font-weight: 600!important;
  font-size: 16px!important;
  color: #3B82F6!important;
  text-align: center!important;

}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(2, 6, 35, 0.416);
}
/* FullCalendar Events - Remove Hover Effects */

.fc-list-event:hover {
  background-color:  white !important; /* Ensure background doesn't change */
  color: inherit !important; /* Ensure text color doesn't change */
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  color: #fff;
}

.fc .fc-button-primary:hover {
  background-color: var(--fc-button-hover-bg-color);
  border-color: var(--fc-button-hover-border-color);
  color: var(--fc-button-text-color);
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  font-size: 15px;
  background-color: var(--fc-button-hover-bg-color);
  border-color: var(--fc-button-hover-border-color);
  color: var(--fc-button-text-color);
}
.fc .fc-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25em;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4em 0.65em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0.75em;
}

.fc .fc-button-primary:disabled {
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
}


.fc .fc-button:disabled {
  opacity: 0.65;
}

.btn-danger{
  background-color: rgb(19, 0, 94);
}

.rbc-month-header{
	background: #DBEAFE;
	color: #3B82F6;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.rbc-header{
	font-weight: 700;
	font-size: 14px;
	border-bottom: hidden;
}
.rbc-btn-group{
	display: flex!important;
	background-color: #DBEAFE;
	padding: 6px!important;
	border-radius: 4px;
}
.rbc-btn-group button{
	border:hidden!important;
	font-weight: bold;
	padding-top: 8px!important;
	padding-bottom: 8px!important;
}
.fc-daygrid-event-harness{
  background: #DBEAFE;
	color: #3B82F6;
	padding: 5px;
	width: 100%;
	font-weight: bold;
	border-left: 4px solid #3B82F6;
}

.fc-event {
  background-color: transparent !important;
}
.fc-event-title{
  color: #3B82F6;

}
.rbc-month-view{
	border-radius: 10px;
	border:hidden;
}
.rbc-off-range{
	color: #D1D5DB;
}

.rbc-day-bg{
	color: red!important;
	font-weight:500;
}

.rbc-off-range-bg{
	background-color: #F3F4F6!important;
}
.rbc-row-bg{
	background-color: #F9FAFB!important;
}
.rbc-event-content{
	background: #DBEAFE;
	color: #3B82F6;
	padding: 10px;
	width: 100%;
	font-weight: bold;
	border-left: 4px solid #3B82F6;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
	padding: 0!important;
	margin-left: 5px;
}
.rbc-active {
	background-color: #3B82F6!important;
	color: white!important;
	padding-top: 3px!important;
	padding-bottom: 3px!important;
}

.rbc-toolbar-label{
	font-size: 22px;
	font-weight: bold;
}