
@tailwind base;
@tailwind components;
@tailwind utilities;
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#profileImage {
  font-family: Arial, Helvetica, sans-serif;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: #004d3c;
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
  line-height: 10rem;
  margin: 2rem 0;
}

/* Oval avatar for first name and last name display */
.oval-avatar {
  width: 60px;
  height: 30px;
  border-radius: 50%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}


h3 {
  color: #f0f2f3;
  text-align: center;
}
/* input filed style */
.input-section {
  display: flex;
  margin-bottom: 10px;
 
}
.input-field {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px 0 10px 0;
  background-color: #f0f2f3;
  color: black;
}

.add-btn,
.update-btn,
.cancel-btn {
  padding: 8px 8px;
  border: none;
  border-radius: 10px 0 10px 0;
  cursor: pointer;

   background-color: #ffcc66; 
}
.add-btn:hover,
.update-btn:hover,
.cancel-btn:hover {
  padding: 8px 8px;
  border: none;
  border-radius: 10px 0 10px 0;
  cursor: pointer;
  color: #ffcc66;
  background-color: #ffcc66; 
}
.todo-list {
  list-style: none; /* remove bullets  */
  padding: 0;
}
.todo-list li {
  margin: 8px;

  padding: 4px;
  border-radius: 10 0px 10 0px;
  border: 1px solid #ffcc66;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.todo-list li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.btn-group button {
  margin-left: 0;
  padding: 5px 5px;
  border-radius: 10px 0 10px 0 10px;
  cursor: pointer;
  background-color: inherit;
  font-size: 20px;
  font-weight: 400;
}
.btn-edit {
  color: rgb(4, 248, 4);
}
.btn-remove {
  color: rgb(248, 4, 37);
}
.btn-done {
  color: rgb(248, 224, 4);
}
.btn-group:hover {
  opacity: 0.8;
}

/* Task card input section */




.centered-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 0;
}
body{
  background-color: 'red';
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content-container {
  flex: 1;
}

/* table css    */
.table-header {
  display: flex;
  align-items: center;
}

.p-input-icon-left {
  display: flex;
  align-items: center;
}

.pi {
  margin-right: 5px; /* Adjust as needed */
}

.search-input {
  padding-left: 30px; /* Adjust based on icon size */
}

/*   end of table css */